
# =========================
# NODE
# =========================
node_modules/
npm-debug.log*
yarn-error.log*

# =========================
# ENV FILE
# =========================
.env

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/

# =========================
# LOGS
# =========================
logs/
*.log

# =========================
# MEDIA LOURDS (IMPORTANT)
# =========================

# Audio / Music
public/**/audio/
public/**/mp3/
public/**/music/
public/**/archives/

# Video
public/**/video/
public/**/*.mp4

# Images lourdes (optionnel)
public/**/img-heavy/

# =========================
# KEEP SAFE
# =========================
# (on NE touche PAS aux HTML)